@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 240 6% 90%;
  --background: 240 10% 3.9%;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
